/* 

* {
    margin: 0px;
    padding: 0px;
  }

body{
    
    font-family: "Anek Devanagari", sans-serif;
    margin-left: 10em;
    width: 60%;
  }





#searchInput,#searchButton,#showAllButton{
    margin-right: auto;
    border-radius: 9px;
    border: solid red 2px;
    margin: 5px;
} */
